- name: "Ensure directory {{ xdg_config_home }}/{{ user_data['xdgdir'] }} exists"
  file:
    path: "{{ xdg_config_home }}/{{ user_data['xdgdir'] }}"
    state: directory
- name: Deploy configuration
  copy:
    src: "{{ user_data['dir'] }}"
    dest: "{{ xdg_config_home }}/{{ user_data['xdgdir'] }}"
    remote_src: 'yes'
  when: user_data['config']
